@media (min-width: 768px) {
    main.offset-md-3 {
        margin-left: 250px!important;
    }
    main.col-md-9 {
        flex: 0 0 auto;
        width: calc(100% - 250px);
    }
}
.active{
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}

/* Mobilde sidebar kapalı */
.sidebar-closed {
    transform: translateX(-100%);
    z-index: 1;
}

/* Mobilde sidebar açık */
.sidebar-open {
    transform: translateX(0);
    z-index: 1;
}

/* Mobilde kapatma butonu */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Masaüstü görünümü bozmamak için */
@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }
}

.form-label {
    margin-bottom: .2rem!important;
    font-size: 14px!important;
}


/* customerFilter.css */
.filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.edit-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0!important;
}

.search-container {
    flex: 1;
    margin-left: 10px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

.filters-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.filter-input {
    margin-bottom: 10px;
}

.filter-button{
    float: left;
}

.filter-input label {
    font-weight: bold;
    display: block;
}

.form-control, .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
